body{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.CalcFrame{
    margin-top: 150px;
    height: 450px;
    width: 660px;
    justify-content: center;
    align-content: center;
    background-color: rgba(194, 193, 178, 0.599);
    
}
.H1{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.walletStatus{
    display: flex;
    
    justify-content: space-around;
    align-items: center;

}

.btn{
    height: 50px;
    width: 75px;
}
.head{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.background{
    width: 100%;
    height: 100vh;
    background-image:url(fabio-oyXis2kALVg-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}